body{
    background-color: blanchedalmond;
 }
 .img{
     display: block;
     margin-left: auto;
     margin-right: auto;
     border-radius: 50%;
 }
 .ha{
     text-decoration: underline;
 }
 h2,h3{
     color: blue;
 }